.nav {
    background-color: #ffc017;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0;
    overflow: hidden;
  }

  .navchange {
    background-color: #ffffff;
    transition: .3s ease-in-out;
  }
  
  
  .navbar {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 11%;
  }
  
  .links a {
    text-decoration: none;
    font-size: 14px;
    padding: 0px 15px;
    color: #292929;
    font-weight: 400;
  }
  
  .getstarted {
    padding: 8px 3px;
    background: rgba(25, 25, 25, 1);
    font-size: 14px;
    border-radius: 99em;
  }

  .getchange{
    background-color:  #1a8917;
    color: #ffffff;
  }
  
  .getstarted a {
    color: rgba(255, 255, 255, 1);
  }
  
  .pop{
    z-index: 999;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    /* backdrop-filter: blur(10px); */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    transition: .5s ease-in-out;
  }

  .closebtn{
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .box{
    position: relative;
    top: 400px;
    width: 45%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 44px 56px;
    animation: origin 0.5s ease forwards;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  @keyframes origin {
    0%{
      opacity: 0;
    }
    100%{
      transform: translateY(-400px);
      opacity: 1;
    }
  }

  @media (max-width:720px) {
    .links .hide{
      display: none;
    }
    
    .navbar{
      padding: 0px 30px;
    }
  }

  @media (max-width:1281px) {
    .navbar{
      padding: 0px 5%;
    }
  }